h1 {
    font-size: 50px;
    text-align: center;
    background-color: yellow;
    font-weight: bold;


}
ol,
ul,
.description {
    font-size: 20px;
}
.link {
    font-size: 40px;
}
img {
    text-align: center;
}